<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!--共用設定變數 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:system-config.properties</value>
            </list>
        </property>
    </bean>

    <context:component-scan base-package="cc.felix" use-default-filters="false">
        <context:include-filter type="regex"
                                expression="(.)*(DaoImpl|ServiceImpl|Aspect|Validator|Controller)"/>
    </context:component-scan>

    <!--EMAIL
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
        <property name="port" value="${mail.port}"/>
        <property name="username" value="${mail.name}"/>
        <property name="password">
            <bean class="cc.felix.core.base.utils.PwdFactory">
                <property name="encryptedPassword" value="${mail.pwd}"/>
            </bean>
        </property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.from">${mail.from}</prop>
                <prop key="mail.admin">${mail.admin}</prop>
            </props>
        </property>
    </bean>
    -->


    <!--Aspect-->
    <aop:aspectj-autoproxy>
        <aop:include name="fmsLogAspect"/>
    </aop:aspectj-autoproxy>

    <!--data source-->
    <import resource="spring-dataSource.xml"/>

    <!--hibernate-->
    <import resource="spring-hibernate.xml"/>

    <!--quartz-->
    <import resource="spring-quartz.xml"/>

    <!-- mvc -->
    <import resource="spring-mvc.xml"/>

    <!--spring security-->
    <import resource="spring-security.xml"/>

    <!--modules config-->
    <import resource="classpath:_modules/**/*core.xml"/>

</beans>