<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


    <!--hibernate SessionFactiory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          destroy-method="destroy">
        <property name="dataSource" ref="dataSource"/>
                
<!-- 		<property name="packagesToScan" value="com.micb2b.core.base"/> -->
        
        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>

                <!--Log -->
                <prop key="hibernate.show_sql">false</prop>

                <!--Cache -->
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
            </props>
        </property>
    </bean>

    <!--hibernateTemplate -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/> 
    </bean>

    <!--hibernate 交易管理 -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--加入Transaction -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="create*" rollback-for="Exception" propagation="REQUIRED"/>
            <tx:method name="read*" read-only="true" />
            <tx:method name="update*" rollback-for="Exception" propagation="REQUIRED"/>
            <tx:method name="delete*" rollback-for="Exception" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>


    <aop:config>
   		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.micb2b.core.base.dao.IOrdersDao.*(..))"/>

        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.micb2b.core.base.dao.IProductsDao.*(..))"/>
    </aop:config>

</beans>


